<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Register{% endblock %}</title>
    <link rel="stylesheet" href="../static/styles.css">
  </head>
  <body>
    <main>
      <h1>Register account</h1>
      <form action="/register" method="post">
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button class="register-button" type="submit">Register</button>
      </form>
      <div class="link"><a href="/login">Go to login</a></div>
    </main>
  </body>
</html>